.arrow_box {
  position: relative;
  background: transparent;
  width: calc(~"100%" - 36px);
  min-width:180px;
  padding: 0 12px 0 0;
  left: 24px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  color: white;

  .arrow_box_arrow {
    right:0;
    margin-right:-24px;
    top: 0;
    border: solid transparent 12px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box_arrow_tail {
    left:0;
    margin-left:-24px;
    top: 0;
    border: solid transparent 12px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}


