@import "../../../../luca.less";

.hourbar {

  h4 {
    margin-top : 0.3em;
    margin-bottom : -0.3em;
  }

  svg {

    .background {
      fill: #F2F2F2;
    }

    .stop-left {
      stop-color: @bar_gradient_1;
    }

    .stop-right {
      stop-color: @bar_gradient_2;
    }

    .axis text {
      font: 12px telefonica_text;
      fill: @axis_text;
    }

    .axis path, .axis line {
      fill : none;
      stroke-width: 1.5px;
      stroke: @axis_line;
      shape-rendering: crispEdges;
    }
  }



}


