@import "../../../../node_modules/antd/lib/style/themes/default.less";
@import "../../../luca.less";

.customTooltip {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      strong {
        display: inline-block;
        width: 60px;
      }
    }
  }

  width: 160px !important;
  padding: 10px;
  color: @text-color !important;
  background-color: white !important;
  border: 1px solid @luca-sidebar-divider !important;

    &.place-top {
      &:after {
        border-top-color: white !important;
        border-top-style: solid !important;
        border-top-width: 6px !important;
      }
    }
}

.bubblemock {
  font-family: telefonica_text, sans-serif;
  font-size: 18px;
  text-transform: capitalize;


  :global(rect) {
    stroke: #ccc;
    fill: none;
  }

  //:global(line) {
  //  stroke: #ccc;
  //  fill: none;
  //}

  .gridLine {
    stroke: #ccc;
    stroke-dasharray: 4;
  }

  .axisTickLabel {
    font-family: telefonica_text, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
  }

  .xAxisTickLabel {
    alignment-baseline: top;
    text-anchor: middle;
  }

  .yAxisTickLabel {
    alignment-baseline: middle;
    text-anchor: end;
  }

  .xAxisLabel,
  .yAxisLabel {
    font-size: 1.6em;
    alignment-baseline: hanging;
    text-anchor: end;
  }

  .bubble {
    opacity: 0.7;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .bubble:hover {
    opacity: 0.9;
  }



}

