@import "~antd/lib/style/themes/default.less";

.main {

  width: 500px;
  margin: 0 auto;
  border-top: 10px solid black;
  background : white;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.4) 10px 10px 30px;

  .borderthing {
    color: white;
    background-color: black;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    margin:-10px 0 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }


  h1 {
      color: @primary-color;
  }

  .tabs {
    padding: 0 2px;
    margin: 0 -2px;
    :global {
      .ant-tabs-tab {
        font-size: 16px;
        line-height: 24px;
      }
      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 34px;
      }
    }
  }

  :global {
    .ant-tabs .ant-tabs-bar {
      border-bottom: 0;
      margin-bottom: 24px;
      text-align: center;
    }

    .ant-form-item {
      margin-bottom: 24px;
    }
  }

  .prefixIcon {
    font-size: @font-size-base;
    color: @disabled-color;
  }

  .getCaptcha {
    display: block;
    width: 100%;
  }

  .forgot {
    color: #0000FF;
    text-decoration: underline;
  }





  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .register {
      float: right;
    }
  }
}
