<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hurricane </title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="http://dc-js.github.io/dc.js/css/dc.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

  <script src="http://gw.alipayobjects.com/os/antv/assets/data-set/0.8.3/data-set.min.js"></script>

  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>

  <script>

    /*
 Graticule plugin for Leaflet powered maps.
*/


  </script>

  <style>

    .sr-only {
      display: none;
    }

    .countries {
      fill: #b0d0ab;
      stroke: #6cb0e0;
      stroke-width: 0.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      vector-effect: non-scaling-stroke;
    }
    .airports {
      fill: #036;
      stroke: #6cb0e0;
      stroke-width: 10.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      vector-effect: non-scaling-stroke;
    }
    .route {
      fill: none;
      stroke-width: 0;
    }
    .plane {
      fill: #fff;
      stroke-width: 0;
    }
    @media(max-width: 768px) {
      #map {
        margin-top: -100px;
      }
    }
    @media(min-width: 768px) {
      #map {
        margin-top: -300px;
      }
    }
  </style>

  <style>

    .leaflet-container {
      height: 400px;
      width: 100%;
      margin: 0 auto;
    }



  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>

