@catchment_primary: #E90D8B;
@nearby_primary: #477784;
@in_store_primary: #7FD6D6;
@sales_primary : #BFEAEA;


/*bar chart*/

@bar_gradient_1 : #DEA4DD;
@bar_gradient_2 : #D49FDA;

@axis_line : #CCCCCC;
@axis_text: #999999;

/*pie chart*/

@pie_color_1 : #FF77FF;
@pie_color_2 : #BC0FE0;
@pie_color_3 : #662188;


@luca-main-bg: #f7f7f7;
@luca-sidebar-bg: #f2f2f2;
@luca-accent: #eeeeee;
@luca-light-bg: #ffffff;
@luca-title-text: #4E4E4E;
@luca-title-highlight: #4A0F68;

@font-telefonica-extralight: "telefonica_extralight";